{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>Members List</title>
        <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/default/easyui.css">
        <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/icon.css">
        <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/color.css">
        <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/demo/demo.css">
        <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
    </head>
    <body>

        <section class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="about">
                        <h3 class="accent">Add New Member</h3>
                        <form action="#" method="post" class="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary">Submit</button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
{% endblock body %}