{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>Members List</title>
        <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/default/easyui.css">
        <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/icon.css">
        <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/color.css">
        <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/demo/demo.css">
        <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
    </head>
    <body>
        <h2>Members List</h2>

        <table id="dg" title="Members" class="easyui-datagrid" style="margin-left:auto;margin-right:auto;"
                toolbar="#toolbar" pagination="true"
                rownumbers="true" fitColumns="true" singleSelect="true">
            <thead>
                <tr>
                    <th field="member_no" width="100">Member No</th>
                    <th field="name" width="250">Name</th>
                    <th field="idno" width="150">Identification No</th>
                    <th field="birthdate" width="100">BirthDate</th>
                    <th field="member_type" width="100">Type</th>
                    <th field="gender" width="100">Gender</th>
                </tr>
            </thead>
            {% for member in members %}
                <tr>
                    <td>{{member.member_no}}</td>
                    <td><a href="{% url 'members:member_det' member.slug %}">{{member.member_name}}</a></td>
                    <td>{{member.id_no}}</td>
                    <td>{{member.date_of_birth|date:'d M o'}}</td>
                    <td>{{member.member_type}}</td>
                    <td>{{member.gender}}</td>
                </tr>
            {% endfor %}
        </table>
        <div>
            <h4> Add New Member</h4>
            <form action="#" method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                {% endbuttons %}
            </form>
        </div>
        <!-- <div id="toolbar">
            <a class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="window.location.href = 'Adding';">New Member</a>
        </div>-->
    </body>
{% endblock body %}