{% extends 'base.html' %}

{% block body %}
<!-- header section -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
					{% if member.member_image %}
						<img src="{{member.member_image.url}}" width="300" height="200" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
						<hr>
						<h1 class="tm-title bold shadow">{{member.member_name}}</h1>
						<h1 class="white bold shadow">{{member.member_type}}</h1>
					{% endif %}
                </div>
            </div>
        </div>
    </header>
<!-- about and skills section -->
<section class="container">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="about">
				<h3 class="accent">Profile Details</h3>
				<h3>Member No:{{member.member_no}}</h3>
				<h3>ID Number:{{member.id_no}}</h3>
				<h3>Birthdate:{{member.date_of_birth|date:'d M o'}}</h3>
				<h3>Gender:{{member.gender}}</h3>
				<h3>Type:{{member.member_type}}</h3>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="skills">
				<h2 class="white">Skills</h2>
				<strong>PHP MySQL</strong>
				<span class="pull-right">70%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar"
                        aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
					</div>
				<strong>UI/UX Design</strong>
				<span class="pull-right">85%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar"
                        aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
					</div>
				<strong>Bootstrap</strong>
				<span class="pull-right">95%</span>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar"
                        aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
					</div>
			</div>
		</div>
	</div>
</section>
{% endblock body %}