{% extends 'base.html' %}

{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>Members List</title>
        <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/default/easyui.css">
        <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/icon.css">
        <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/color.css">
        <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/demo/demo.css">
        <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
    </head>
    <body>
        <h2>Members List</h2>

        <table id="dg" title="Members" class="easyui-datagrid" style="width:1000px;height:500px"
                toolbar="#toolbar" pagination="true"
                rownumbers="true" fitColumns="true" singleSelect="true">
            <thead>
                <tr>
                    <th field="member_no" width="100">Member No</th>
                    <th field="name" width="250">Name</th>
                    <th field="idno" width="150">Identification No</th>
                    <th field="birthdate" width="100">BirthDate</th>
                    <th field="member_type" width="100">Type</th>
                    <th field="gender" width="100">Gender</th>
                    <th field="image" width="100">Image</th>
                </tr>
            </thead>
            {% for member in members %}
                <tr>
                    <td>{{member.member_no}}</td>
                    <td><a href="{% url 'members:member_det' member.id %}">{{member.member_name}}</a></td>
                    <td>{{member.id_no}}</td>
                    <td>{{member.date_of_birth|date:'d M o'}}</td>
                    <td>{{member.member_type}}</td>
                    <td>{{member.gender}}</td>
                    <td>
                        <img src="{{member.member_image.url}}" width="90" height="50">
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>
{% endblock body %}